<h2>Stimulus Cars</h2>

<div data-controller="toggle">
  <input data-toggle-target="source" type="text" value="I'm a copy" readonly>
  <button data-action="toggle#copy">Copy Me to Clipboard</button>
</div>

<div data-controller="toggle">
  <div  data-toggle-target="hideable">Hide Me</div>
  <div hidden data-toggle-target="showable">Show Me</div>
  <button data-action="toggle#hide">Hide</button>
</div>

<div data-controller="toggle">
  <div data-toggle-target="box">
  <input data-action="toggle#highlight" type="checkbox">
  </div>
</div>
